@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-playfair);
  --font-mono: var(--font-lora);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 100px;  /* your navbar height */
}

section {
  scroll-margin-top: 60px;   /* Works perfectly */
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

.animation-delay-300  { animation-delay: 0.1s; }
.animation-delay-600  { animation-delay: 0.3s; }
.animation-delay-900  { animation-delay: 0.6s; }
.animation-delay-1200 { animation-delay: 1s; }
.animation-delay-1500 { animation-delay: 1.1s; }